#quick-menu {
  display: block;
}
fieldset {
  margin-bottom: 1em;
}
.fieldset-expanded legend, .fieldset-collapsed legend {
  background-repeat: no-repeat;
  cursor: pointer;
}
.fieldset-expanded legend {
  background-image: url(../../misc/menu-expanded.png);
  background-position: 3px 60%;
  padding: 1px 3px 1px 15px;
}
.fieldset-collapsed {
  border: none;
}
.fieldset-collapsed div, .fieldset-collapsed input, .fieldset-collapsed p,
.fieldset-collapsed ul, .fieldset-collapsed ol, .fieldset-collapsed dl {
  display: none;
}
.fieldset-collapsed legend {
  background-image: url(../../misc/menu-collapsed.png);
  background-position: 4px 50%;
  border: 1px solid #999;
  padding: 0 3px 0 16px;
}